* {
  padding:0;
  margin:0;
  font-size: 1em;
}

textarea {
  width: 100%;
  height: 100%;
  border: dashed 2px #5e595e;
  background: #ad97ad;
  color: #120112;
  padding: 5px;
}

#wordcontainer {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #120112;
}



html, body {
  height:100%;
  background-color: #917d91;
  display: flex;
  flex-direction:column;
}

body > * {
  flex-shrink: 0;
}

#textareacontainer {
  padding: 1%;
  flex-grow: 1;
}