#myCanvas {
    height: 90%;
    width: 98%;
    display: inline;
    background-color: white;
    border: grey solid 1px;
}
.container {
    width:100%;
    text-align: center;
}

#example {
    width: 100%;
    text-align: left;
}
.examples {
    align-self: left;
    display: inline;
}